h1,h2,h3,p,ul{
    margin: 0;
}

ul{
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #262626;
}

.container{
    display: grid;
    grid-template-columns: 1fr 350px;
    column-gap: 1.25rem;
    width: 755px;
    margin: 120px auto 90px;
}

.img-photo{
    height: 635px;
    position: relative;
    background: url('../img/phone.png') no-repeat center;
}

.img-photo img{
    position: absolute;
    bottom: 65px;
    left: 116px;
}

.logo-instagram{
    margin: 20px 0 30px 0;
}

.form-login{
    text-align: center;
    font-size: 14px;
    margin-top: 3px;
}

.form-login form{
    text-align: center;
    background-color: #fff;
    padding: 1.25rem 2.5rem;
    border: 1px solid rgb(219,219,219);
    margin-bottom: 10px;
}

.form-login input{
    width: 100%;
    color: #dbdbdb;
    box-sizing: border-box;
    font-size: 0.7rem;
    padding: 13px 0 13px 8px;
    border: 1px solid #dbdbdb;
    margin-bottom: 4px;
    border-radius: 3px;
    outline: none;
}

.form-login button {
    color: #fff;
    font-weight: 7bold;
    width: 100%;
    margin-top: 15px;
    background: #0195f6;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
}

.form-login button:disabled{
    background: #B2DFFC;
    cursor: default;
}

.or{
    margin: 1rem 0 1.6rem;
    font-size: 13px;
    color: #8E8E8E;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.or::after,
.or::before{
    content: "";
    width: 105px;
    height: 1px;
    background: #dbdbdb;
}

.login-facebook{
    color: #385185;
    font-weight: 600;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 18px;
}

.forgot-pass{
    font-size: 0.8rem;
    color: #385185;
}

.signup{
    border: 1px solid #dbdbdb;
    background-color: #fff;
    padding: 20px 0;
    margin: 0 0 20px;
}

.signup a{
    font-weight: 600;
    color: #0095f6;
}

.get-app{
    margin-top: 20px;

}

.get-app p{
    font-size: 0.8rem;
}

.get-app img{
    margin-top: 20px;
    width: 135px;
}

.clone-page{
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.footer{
    text-align: center;
    width: 970px;
    margin: 0 auto;
    font-size: 12px;
    color: #8e8e8e;
}

.footer a{
    color: #8e8e8e;
    display: inline-block;
    margin: 0 0.375rem 0.625rem;
}